.Quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 1rem;
  margin: 0px 50px;
  font-family: 'Ultra', serif;
}

.Quote-buttons {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  width: 15%;
}

.Quote-text {
  font-size: 1.5rem;
}

.Quote-author {
  font-size: 1.1rem;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


@media screen and (max-width: 900px) {
  .Quote-text {
    font-size: 1rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}